/*sections and card data*/
.realtime-data-section {
  position: relative;
}
.realtime-data-section-title {
  font-size: 36px;
}
.realtime-data-card {
  width: 100%;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f2f3;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.realtime-data-card-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
  text-align: center;
}
/* .realtime-data-card-count span:nth-child(2) {
  display: block;
} */
.realtime-data-card-count-span {
  font-size: 34px;
  font-weight: 600;
}
.realtime-data-card-count-diff {
  font-size: 13px;
}
.covid19-search-card {
  background: #f1f2f3;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 20px 0 0 0;
}
.input-field {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.625rem 0.75rem 0.625rem 1.8rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: transparent;
  background-clip: padding-box;
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  border: none;
}
.input-field:focus {
  outline: none;
  background-color: #fff;
}
.search-field {
  position: relative;
  background: #f1f2f3;
  margin: 20px 20px 10px 20px;
  padding: 5px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.search-icon {
  position: absolute;
  top: 30%;
  left: 10px;
}
.scrollable-search-div {
  height: 500px;
  overflow-y: scroll;
}
/* Track */
.scrollable-search-div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable-search-div::-webkit-scrollbar-thumb {
  background: #356dfb;
}
.scrollable-search-div::-webkit-scrollbar {
  width: 2px;
}
/* Handle on hover */
.scrollable-search-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.covid19-search-result {
  height: 100%;
  padding: 0 0;
}
.covid19-search-result-item {
  width: 100%;
  display: block;
  border-bottom: 0.5px solid #eee;
}
.country-flag {
  display: block;
  font-size: 36px;
}
.country-name {
  margin-left: 10px;
  display: block;
  font-size: 14px;
  color: #000;
}
.country-cases-total {
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #fff;
  background: #d11111;
  border-radius: 50px;
}
.covid19-search-result-item:hover {
  background: rgba(113, 154, 236, 0.19);
}
.google-map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.covid19-country-map {
  width: 65%;
}
.covid19-country-map > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.covid19-country-detail {
  width: 35%;
  height: 100%;
}
.covid19-country-detail-header {
  position: relative;
}
.covid19-country-details-flag {
  position: relative;
}
.covid19-country-details-flag > span {
  font-size: 72px;
  position: relative;
  top: -18px;
  left: 15px;
}

.covid19-country-name {
  margin-top: 10px;
  margin-left: 25px;
}
.covid19-country-name > span {
  display: block;
  text-align: center;
}
.covid19-country-name > span:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
}
.covid19-country-name > span:nth-child(2) {
  font-size: 14px;
  color: #c4c4c4;
}
.covid19-country-stats {
  padding: 5px 20px 12px 20px;
  position: relative;
  top: -30px;
  border-bottom: 1px solid #eee;
}
.covid19-country-stats > .space-between > div > span {
  display: block;
  text-align: center;
}
.covid19-country-stats-numbers > span {
  display: block;
}
.covid19-country-stats-numbers > span:nth-child(1) {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
.covid19-country-stats-numbers > span:nth-child(2) {
  font-size: 14px;
  color: #a09c9c;
}
.scrollable-cases-div {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}
/* Track */
.scrollable-cases-div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable-cases-div::-webkit-scrollbar-thumb {
  background: #356dfb;
}
.scrollable-cases-div::-webkit-scrollbar {
  width: 2px;
}
/* Handle on hover */
.scrollable-cases-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.state-cases {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 0.5px solid #eee;
}
.state-cases:hover {
  background: rgba(30, 98, 231, 0.12);
}
.case-image {
  position: relative;
}
.case-image > img {
  position: relative;
  width: 55px;
  height: 45px;
  top: 4px;
  object-fit: cover;
  border-radius: 10px;
}
.state-cases-desc {
  margin-left: 5px;
}
.state-cases-desc-stats {
  margin-top: 2px;
}
.state-cases-desc-stats > span {
  font-size: 10px;
  color: #1e62e7;
}
