/* contagion section */
.contagion-section {
  position: relative;
}
.contagion-section:hover {
  background-color: rgba(30, 143, 255, 0.027);
}
.contagion-image-section {
  position: relative;
  z-index: 5;
}
.contagion-image-section > img {
  object-fit: cover;
  z-index: 2;
}
.contagion-desc-section > p {
  color: rgb(107, 105, 105);
  line-height: 2;
}
.contagion-aesthetics-dots {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
}
.contagion-aesthetics-red-circle {
  position: absolute;
  right: 25px;
  bottom: -30px;
}
.contagion-aesthetics-red-circle > img {
  position: relative;
  z-index: -1;
}
.contagion-aesthetics-blue-circle {
  position: absolute;
  left: -30px;
  top: 70px;
  z-index: -1;
}
