@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

html,
body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: auto;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #356dfb;
}
html::-webkit-scrollbar {
  width: 4px;
}
/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #363636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.small {
  margin-top: 0rem;
}

.h1 {
  font-size: 4rem;
  line-height: 5rem;
}

.h2 {
  font-size: 3rem;
  line-height: 4rem;
}
.h3 {
  font-size: 2rem;
  line-height: 3rem;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.h7 {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

body {
  background-color: #f5f5f5;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}
.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.banner-right {
  position: relative;
}
.sample-corona-virus-icon {
  position: absolute;
  top: 60px;
  right: 50px;
}
.covid19-title {
  font-size: 72px;
}
.covid19-subtitle {
  font-size: 48px;
  line-height: 58px;
  color: #da242d;
}
.covid19-clip-image {
  position: absolute;
  right: 0;
  top: 20px;
}
.covid19-clip-image2 {
  position: absolute;
  right: 20%;
  top: 220px;
  z-index: 2;
}
.covid19-inner-image > img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);
}
.covid19-inner-image2 > img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);
}
.covid19-circle {
  position: absolute;
  top: 22%;
  right: 23%;
}
.covid19-circle2 {
  position: absolute;
  top: 65%;
  right: 10%;
}
.covid19-rectangle {
  position: absolute;
  right: 0;
  bottom: 0;
}
.covid19-rectangle2 {
  position: absolute;
  right: 0;
  bottom: -82px;
}
.covid19-dot {
  position: absolute;
  right: 21%;
  margin-top: 320px;
  z-index: 1;
}
.covid19-text {
  padding-top: 20px;
  color: #444;
}
.app {
  background: url("../icons/map2.svg") top no-repeat;
  background-size: 600px;
}
.navbar {
  height: 78px;
  background-image: linear-gradient(180deg, #fff, #f1f2f3);
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 100;
}
.navbar.white .navbar-burger {
  color: #0a0a0a;
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
  width: 20px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

.nav-menu {
  display: none;
}

.navbar-item {
  position: relative;
  min-height: 4.5rem;
  font-size: 14px;
  font-weight: 100;
  display: block;
  padding: 0 0.75rem;
}

.navbar-left .navbar-item:hover,
.navbar-right .navbar-item:hover {
  border-color: #000;
}

.brand {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 4.063rem;
}

.navbar.white .brand > .navbar-item,
.navbar.white .brand .navbar-link {
  color: #1f65e6;
}
.brand span {
  font-size: 24px;
  margin-left: 5px;
  font-weight: 600;
}

.navbar > .container {
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 4.063rem;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 4.1rem;
  }
  .navbar > .container {
    display: block;
  }
  .navbar > .container-fluid {
    display: block;
  }
  .brand .navbar-item,
  .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-item {
    min-height: 3.5rem;
  }
  .nav-menu.active {
    display: block;
  }
  .nav-menu {
    position: absolute;
    top: 66px;
    width: 66%;
    left: 0;
    background-image: linear-gradient(180deg, #fff, #f1f2f3);
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    padding: 0rem 0.5rem;
    animation: moveLeftCurrent 0.5s;
  }
  .nav-menu .navbar-right .navbar-item {
    border-bottom: 1px solid #eee;
  }
}

@media (min-width: 1024px) {
  .navbar.white .navbar-left > a.navbar-item,
  .navbar.white .navbar-right > a.navbar-item,
  .navbar.white .navbar-left > .navbar-link,
  .navbar.white .navbar-right > .navbar-link {
    color: rgb(124, 120, 120);
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .navbar.white .navbar-left > a.navbar-item:focus,
  .navbar.white .navbar-left > a.navbar-item:hover,
  .navbar.white .navbar-start > a.navbar-item.active,
  .navbar.white .navbar-left .navbar-link:focus,
  .navbar.white .navbar-left .navbar-link:hover,
  .navbar.white .navbar-left .navbar-link.active,
  .navbar.white .navbar-right > a.navbar-item:focus,
  .navbar.white .navbar-right > a.navbar-item:hover,
  .navbar.white .navbar-right > a.navbar-item.active,
  .navbar.white .navbar-right .navbar-link:focus,
  .navbar.white .navbar-right .navbar-link:hover,
  .navbar.white .navbar-right .navbar-link.active {
    background-color: transparent;
    color: #1f65e6;
    border-bottom-color: #1f65e6;
  }
  .navbar.white a.navbar-item.active {
    color: #1f65e6;
    border-bottom-color: #1f65e6;
  }
  .navbar > .container,
  .navbar > .container-fluid {
    width: 100%;
    display: flex;
    align-items: stretch;
    min-height: 78px;
  }
  .navbar {
    min-height: 78px;
  }
  .navbar,
  .nav-menu,
  .navbar-right,
  .navbar-left {
    display: flex;
    align-items: stretch;
  }
  .navbar-left,
  .navbar-right {
    align-items: center;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-item {
    min-height: 78px;
    display: flex;
    align-items: center;
  }
  .nav-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-left {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-right {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar > .container .nav-menu {
    margin-right: -0.75rem;
  }
  .navbar > .container .logo {
    margin-left: -0.75rem;
  }
}
.navbar.fixed-top {
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
html.bg,
body.bg {
  padding-top: 4.1rem;
}
.section {
  padding: 40px 0;
  border-bottom: 1px solid #eeeeee;
}
.container {
  width: 100%;
  padding: 0 0.9375rem;
  margin: 0 auto;
  position: relative;
  animation: transitionIn 1s;
}

@media (min-width: 75rem) {
  .container {
    width: 71.25rem;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.9375rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-fluid {
    margin-left: 32px;
    margin-right: 32px;
    max-width: none;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button {
  display: inline-block;
  font: inherit;
  color: #222;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.covid-button {
  color: #1e62e7;
  background: rgba(30, 98, 231, 0.07);
  border-radius: 30px;
}
.covid-button:hover {
  font-weight: 600;
}
.button-rounded {
  border-radius: 9999px;
}
.button-outline {
  width: 194px;
  height: 55px;
  color: #1e62e7;
  border: 1px solid#1E62E7;
}
.button-blue {
  background-color: #1e62e7;
  color: #fff;
}
.button-outline:hover {
  background: rgba(30, 98, 231, 0.07);
  border-color: transparent;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.button-blue:hover {
  background-color: #1c52be;
  color: #fff;
}
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #eee 10%, transparent 10.01%);
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}
/*shapes*/
.covid-angle {
  top: 120px;
  left: 0;
  position: absolute;
}
.covid-angle2 {
  bottom: 70px;
  left: 0;
  position: absolute;
}
.covid-angle3 {
  position: absolute;
  top: 120px;
  right: 0;
}
/*misc*/
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.align-center {
  display: flex;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pl-0 {
  padding-left: 0px;
}
.px-20 {
  padding: 0 20px;
}
.py-20 {
  padding: 20px 0;
}
.pd-0 {
  padding: 0 !important;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-100 {
  margin-left: 100px;
}
.negative-color {
  color: #da242d;
}
.positive-color {
  color: #07aa8d;
}
.color-white {
  color: #fff;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
/*sections and card data*/
.realtime-data-section {
  position: relative;
}
.realtime-data-section-title {
  font-size: 36px;
}
.realtime-data-card {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f2f3;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.realtime-data-card-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #c4c4c4;
  text-align: center;
}
.realtime-data-card-count-span {
  font-size: 24px;
  font-weight: 600;
}
.realtime-data-card-count-diff {
  font-size: 13px;
}
.covid19-search-card {
  background: #f1f2f3;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 20px 0 0 0;
}
.input-field {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.625rem 0.75rem 0.625rem 1.8rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: transparent;
  background-clip: padding-box;
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  border: none;
}
.input-field:focus {
  outline: none;
  background-color: #fff;
}
.search-field {
  position: relative;
  background: #f1f2f3;
  margin: 20px 20px 10px 20px;
  padding: 5px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 999px;
}

.select-field {
  display: block;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  height: 45px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgba(170, 170, 170, 0.182);
  /* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
  border-radius: 999px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #fff 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-field::-ms-expand {
  display: none;
}
/* Hover style */
/* .select-field:hover {
  border-color: rgba(136, 136, 136, 0.63);
} */
/* Focus style */
.select-field:focus {
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  border-color: rgba(59, 153, 252, 0.7);

  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-field option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-field,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-field:disabled,
.select-field[aria-disabled="true"] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #fff 100%);
}

.select-field:disabled:hover,
.select-field[aria-disabled="true"] {
  border-color: #aaa;
}
.scrollable-search-div {
  height: 500px;
  overflow-y: scroll;
}
/* Track */
.scrollable-search-div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable-search-div::-webkit-scrollbar-thumb {
  background: #356dfb;
}
.scrollable-search-div::-webkit-scrollbar {
  width: 2px;
}
/* Handle on hover */
.scrollable-search-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.covid19-search-result {
  height: 100%;
  padding: 0 0;
}
.covid19-search-result-item {
  width: 100%;
  display: block;
  border-bottom: 0.5px solid #eee;
}
.covid19-search-result-item > div {
  padding: 15px 20px;
}
.country-flag {
  width: 30px;
  height: 20px;
  display: block;
  background-image: linear-gradient(180deg, #fff, #f1f2f3);
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}
.country-name {
  margin-left: 10px;
  display: block;
  font-size: 14px;
  color: #000;
}
.country-cases-total {
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #fff;
  background: #d11111;
  border-radius: 50px;
}
.covid19-search-result-item:hover {
  background: rgba(113, 154, 236, 0.19);
}
.google-map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07); */
}

.google-map > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.covid19-country-detail-header {
  position: relative;
}
.covid19-country-details-flag {
  position: relative;
}
.covid19-country-details-flag > span {
  font-size: 72px;
  position: relative;
  top: -18px;
  left: 15px;
}

.covid19-country-name {
  margin-top: 10px;
  margin-left: 25px;
}
.covid19-country-name > span {
  display: block;
  text-align: center;
}
.covid19-country-name > span:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
}
.covid19-country-name > span:nth-child(2) {
  font-size: 14px;
  color: #c4c4c4;
}
.covid19-country-stats {
  padding: 5px 20px 12px 20px;
  position: relative;
  top: -30px;
  border-bottom: 1px solid #eee;
}
.covid19-country-stats > .space-between > div > span {
  display: block;
  text-align: center;
}
.covid19-country-stats-numbers > span {
  display: block;
}
.covid19-country-stats-numbers > span:nth-child(1) {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
.covid19-country-stats-numbers > span:nth-child(2) {
  font-size: 14px;
  color: #a09c9c;
}
.scrollable-cases-div {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}
/* Track */
.scrollable-cases-div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable-cases-div::-webkit-scrollbar-thumb {
  background: #356dfb;
}
.scrollable-cases-div::-webkit-scrollbar {
  width: 2px;
}
/* Handle on hover */

/* symptoms  section */
.bold-text {
  font-size: 94px;
  font-weight: 600;
}
.symptoms > p {
  color: rgb(107, 105, 105);
  line-height: 2;
}
.symptoms > h1 {
  color: #111;
}
.symptoms-section {
  position: relative;
}
.symptoms-section:hover {
  background-color: rgba(233, 219, 195, 0.055);
}
.symptoms-angle-decorator {
  position: absolute;
  left: 0;
  top: 70px;
}
.box-shadowed-circle {
  width: 145px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.box-shadowed-circle-lg {
  width: 170px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.illustration-wrapper .illustration-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration-icon > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.illustration-wrapper > span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
.symptom-image-section {
  position: relative;
}
.symptoms-svg {
  position: absolute;
  right: 0;
  top: 120px;
}

/* contagion section */
.contagion-section {
  position: relative;
}
.contagion-section:hover {
  background-color: rgba(30, 143, 255, 0.027);
}
.contagion-image-section {
  position: relative;
  z-index: 5;
}
.contagion-image-section > img {
  object-fit: cover;
  z-index: 2;
}
.contagion-desc-section > p {
  color: rgb(107, 105, 105);
  line-height: 2;
}
.contagion-aesthetics-dots {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
}
.contagion-aesthetics-red-circle {
  position: absolute;
  right: 25px;
  bottom: -30px;
}
.contagion-aesthetics-red-circle > img {
  position: relative;
  z-index: -1;
}
.contagion-aesthetics-blue-circle {
  position: absolute;
  left: -30px;
  top: 70px;
  z-index: -1;
}
.prevention-section {
  position: relative;
}
.prevention-image-section {
  position: relative;
}
.prevention-angle-decorator {
  position: absolute;
  left: 0;
  top: 70px;
}
.prevention-image-clips {
  position: relative;
}
.prevention-inner-image {
  position: absolute;
  margin-top: 150px;
  right: 0;
  z-index: 6;
}

.prevention-aesthetics-blue-circle {
  position: absolute;
  top: -40px;
  margin-left: 160px;
  z-index: 1;
}
.prevention-aesthetics-green-circle {
  position: absolute;
  right: 230px;
  top: 280px;
  z-index: 1;
}
.prevention-aesthetics-red-dots {
  position: absolute;
  right: 15px;
  bottom: -530px;
  z-index: 1;
}

/* infocard */
.info-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.info-card-image {
  padding: 10px 10px 0 10px;
}
.info-card-image > img {
  width: 226px;
  height: 198px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
.info-card-message {
  padding: 20px;
}

/*footer-section*/
.footer-section {
  background: #1e62e7;
}
.bottom-footer {
  padding: 15px 0;
  background: #1e62e7;
}
.bottom-footer > span {
  display: block;
  color: #fff;
  text-align: center;
}
.covid19-useful-links a {
  display: block;
  color: #fff;
}
.covid19-useful-links > h2 {
  color: #fff;
}
.covid19-useful-links a:hover {
  text-decoration: underline;
}

/* mobile css */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .covid19-title {
    font-size: 48px;
  }
  .covid19-subtitle {
    font-size: 32px;
  }
  .covid19-text {
    font-size: 14px;
  }
  .covid-angle2 {
    bottom: 30px;
  }
  .realtime-data-section-title {
    font-size: 24px;
  }
  .realtime-data-card {
    margin-top: 20px;
  }
  .banner-right {
    display: none;
  }
  .covid19-circle {
    right: 0;
  }
  .google-map {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .covid19-country-map {
    display: none;
  }
  .covid19-country-detail {
    width: 100%;
    height: 100%;
  }
  .scrollable-cases-div {
    height: 250px;
  }
  .symptom-image-section {
    display: none;
  }
  .contagion-image-section {
    display: none;
  }
  .contagion-desc-section > p {
    font-size: 14px;
  }
  .prevention-image-section {
    display: none;
  }
  .space-between {
    flex-wrap: wrap;
  }
  .symptoms > p {
    color: rgb(107, 105, 105);
    line-height: 2;
    font-size: 14px;
  }
  .box-shadowed-circle:nth-child(3),
  .box-shadowed-circle:nth-child(4) {
    margin-top: 20px;
  }
  .footer-info {
    padding: 20px;
  }
  .covid19-useful-links {
    padding: 20px;
  }
  .corona-emergency-numbers {
    padding: 20px;
  }
  .ml-90 {
    margin-left: 0px;
  }
  .green-10 {
    color: rgb(20, 168, 20);
  }
  .red-10 {
    color: rgb(204, 46, 46);
  }
}
/*modal*/
.modal {
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.315);
}
.modal-content {
  max-height: calc(100vh - 160px);
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  animation-name: modalopen;
  animation-duration: 1000ms;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.modal-header {
  position: relative;
  padding: 15px 20px;
  font-size: 18px;
  color: #444;
  font-weight: 400;
}
.modal-body {
  padding: 20px;
}
.modal-body > p {
  color: rgb(17, 30, 70);
}
.modal-footer {
  padding: 10px;
}
.modal.active {
  display: block;
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  right: 8px;
  top: 14px;
  border-radius: 50%;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #eee;
}
.create-modal-header {
  font-weight: 600;
  border-bottom: 1px solid #dddddd;
}

@media screen and (min-width: 769px), print {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 500px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    margin: 0 auto;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
  }
}
.modal-divider {
  position: relative;
  text-align: center;
  color: #b6b8c9;
}
.modal-divider::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  top: 44%;
  left: 35%;
  margin-right: 50px;
  border: 0.5px solid #b6b8c9;
}
.modal-divider::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  top: 44%;
  margin-left: 10px;
  border: 0.5px solid #b6b8c9;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
