.symptoms > p {
  color: rgb(107, 105, 105);
  line-height: 2;
}
.symptoms > h1 {
  color: #111;
}
.symptoms-section {
  position: relative;
}
.symptoms-section:hover {
  background-color: rgba(233, 219, 195, 0.055);
}
.symptoms-angle-decorator {
  position: absolute;
  left: 0;
  top: 70px;
}
.box-shadowed-circle {
  width: 145px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.box-shadowed-circle-lg {
  width: 170px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
}
.illustration-wrapper .illustration-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration-icon > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.illustration-wrapper > span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
.symptom-image-section {
  position: relative;
}
.symptoms-svg {
  position: absolute;
  right: 0;
  top: 120px;
}
