.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.banner-right {
  position: relative;
}
.sample-corona-virus-icon {
  position: absolute;
  top: 60px;
  right: 50px;
}
.covid19-title {
  font-size: 72px;
}
.covid19-subtitle {
  font-size: 48px;
  line-height: 58px;
  color: #da242d;
}
.covid19-clip-image {
  position: absolute;
  right: 0;
  top: 20px;
}
.covid19-clip-image2 {
  position: absolute;
  right: 20%;
  top: 220px;
  z-index: 2;
}
.covid19-inner-image > img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);
}
.covid19-inner-image2 > img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);
}
.covid19-circle {
  position: absolute;
  top: 22%;
  right: 23%;
}
.covid19-circle2 {
  position: absolute;
  top: 65%;
  right: 10%;
}
.covid19-rectangle {
  position: absolute;
  right: 0;
  bottom: 0;
}
.covid19-rectangle2 {
  position: absolute;
  right: 0;
  bottom: -82px;
}
.covid19-dot {
  position: absolute;
  right: 21%;
  margin-top: 320px;
  z-index: 1;
}
.covid19-text {
  padding-top: 20px;
  color: #444;
}
/*shapes*/
.covid-angle {
  top: 120px;
  left: 0;
  position: absolute;
}
.covid-angle2 {
  bottom: 70px;
  left: 0;
  position: absolute;
}
.covid-angle3 {
  position: absolute;
  top: 120px;
  right: 0;
}
